@model IEnumerable<WiserSoft.UI.Models.Mensajes>
@{
    Layout = "~/Views/Shared/Master.cshtml";
}
<!--<button type="button" class="btn btn-success btn-flat btn-addon btn-md m-b-10 m-l-5"><i class="ti-search"></i>Success</button>-->
<div class="card card-outline-primary">
    <div class="card-header">
        <h4 class="m-b-0 text-white">Lista de Mensajes</h4>
    </div>
    <div class="card-body">
        <div class="dataTables_filter">
            <span>
                <a title="Añadir nuevo mensaje" href="@Url.Action("Create")" class="btn btn-success">
                    <span class="fa fa-plus"></span>
                </a>
            </span>
        </div>
        <div class="table-responsive m-t-40">

            <table id="myTable" class="table table-bordered table-striped">
                <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">Mensaje</th>
                        <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending">Tipo Mensaje</th>
                        <th tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cuerpo_Mensaje)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tipo_Difusiones.Descripcion)
                            </td>
                            <td>
                                <span>
                                    <a title="Editar mensaje" href="@Url.Action("Edit", new { Id_Mensaje = item.Id_Mensaje})" class="btn btn-success">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                </span>
                                |
                                <span>
                                    <a title="Borrar mensaje" href="@Url.Action("Delete", new { Id_Mensaje = item.Id_Mensaje})" class="btn btn-danger btn-flat">
                                        <span class="fa fa-trash"></span>
                                    </a>
                                </span>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

               
            </div>
        </div>
    </div>
